/*
   From here you can add your footer style.
   -----
*/
.Footer {
  background: url(../../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  padding: 44px 0 0px 0;
  a {
    color: #9b9696;
    &:hover {
      color: #fdc236;
    }
  }
  svg {
    width: 18px;
    height: 18px;
    fill: #fdc236;
  }
  .footerFirst {
    .Logo {
      width: 160px;
      height: 64px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      color: #9b9696;
      margin-top: 20px;
    }
  }
  .Contact_footer{
    margin-left: unset !important;
  }
  .FooterLinks {
    margin-left: 50px;
    ul {
      padding: inherit;
    }
    h1 {
      font-size: 18px;
      color: #fff;
      position: relative;
      font-weight: bold;
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        background: #fdc236;
        height: 3px;
        left: 0;
        top: 30px;
      }
    }
    ul {
      list-style: none;
      margin-top: 30px;
      li {
        color: #9b9696;
        margin-top: 12px;
        &:hover {
          color: #fdc236;
        }
      }
    }
  }
  .FooterBottom {
    width: 100%;
    margin-top: 40px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    border-top: 1px solid #9b9696;
    p {
      color: #9b9696;
    }
  }
}
