.Home {
  .CoverImg {
    height: 550px;
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      filter: brightness(60%);
    }
    .CoverDescription {
      position: absolute;
      top: 30%;
      left: 20%;
      z-index: 99999;
      text-align: center;
      max-width: 700px;
      h1 {
        font-size: 48px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
      }
      p {
        font-weight: 600;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
      }
      button {
        width: max-content;
        padding: 12px 24px;
        background: #fdc236;
        border: none;
        color: #fff;
        outline: none;
        font-weight: 600;
        font-size: 20px;
        margin-top: 40px;
      }
    }
  }
  .barner-section {
    width: 100%;
    height: 100px;
    background: #fdc236;
    .container {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h1 {
      color: #fff;
      font-weight: 700;
    }
    button {
      width: max-content;
      padding: 12px 24px;
      background: #fff;
      border: none;
      color: #000;
      outline: none;
      font-weight: 600;
      font-size: 20px;
    }
  }
  .about-section {
    padding: 120px 0;
    h1 {
      // margin-top: 20px;
      font-weight: 700;
      color: #fdc236;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100px;
        background: #fdc236;
        top: 50px;
        left: 0;
        height: 3px;
      }
      span {
        color: #000;
        position: relative;
      }
    }
    .about-banner-box {
      width: 100%;
      height: 450px;
      background: #fdc236;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }
    h3 {
      margin-top: 40px;
      font-size: 24px;
      font-weight: bold;
      color: #646464;
      padding-top: 13px;
    }
    p {
      padding-right: 60px;
      font-size: 14px;
      line-height: 24px;
      color: #878787;
      margin-top: 10px;
    }
  }
  .services-section {
    width: 100%;
    padding: 70px 0;
    background: #eee;
    .section_title {
      display: flex;
      justify-content: center;
    }
    h1 {
      margin-top: 20px;
      font-weight: 700;
      color: #fdc236;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 80px;
        background: #fdc236;
        top: 50px;
        left: 90px;
        height: 3px;
      }
      span {
        color: #000;
        position: relative;
      }
    }
    .row {
      margin-top: 60px;
      margin-bottom: 30px;
    }
    .box {
      cursor: pointer;
      width: 100%;
      height: 260px;
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      // border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: 0.3s;
      &:hover{
        border-bottom: 3px solid #fdc236;
        transition: 0.3s;
        h3{
          color: #fdc236;
        }
        svg{
          stroke: #000 !important;
        }
      }
      .svg_box{
        svg{
          width: 40px;
          height: 49px;
          fill: none;
          stroke: #fdc236;
        }
      }
      .line {
        width: 70px;
        height: 3px;
      }
      h3 {
        font-weight: 700;
        color: #000;
        font-size: 24px;
      }
      p {
        color: #878787;
        margin-top: 20px;
      }
    }
  }
  .contact_us {
    padding: 70px 0;
    background: url(../../img/contact-bg.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 90px;
    .row {
      margin-top: 120px;
    }
    .section_title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .line {
      width: 80px;
      background: #fdc236;
      height: 3px;
    }
    h1 {
      margin-top: 20px;
      font-weight: 700;
      color: #fff;
      position: relative;
      text-align: center;
    }
    .contact_card {
      width: 100%;
      height: 160px;
      background: #fff;
      display: flex;
      padding: 20px;
      box-sizing: border-box;
      align-items: center;
      .icon-box {
        background: #293262;
        flex-shrink: 0;
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #fdc236;
        margin-right: 24px;
        
        svg{
            width: 30px;
            height: 30px;
            fill: #fdc236;
            
        }
      }
    }
  }
}
