<!-- =========================
	Section - Footer
============================== -->

<footer>
  <div class="Footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 -col-md-4 col-lg-4 col-xl-4">
          <div class="footerFirst">
            <div class="Logo">
              <img src="../../img/footer-logo.png" alt="Logo" />
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              aliquam neque eget ipsum porta, sed convallis odio convallis
            </p>
          </div>
        </div>

        <div class="col-12 col-sm-12 -col-md-2 col-lg-2 col-xl-2">
          <div class="FooterLinks">
            <h1>Quick Links</h1>
            <ul>
              <li><a href="#about">About us</a></li>
              <li><a href="#service">Services</a></li>
              <li><a href="#contact">Contact us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-12 -col-md-3 col-lg-3 col-xl-3">
          <div class="FooterLinks">
            <h1>Services</h1>
            <ul>
              <li><a href="#">Project Management</a></li>
              <li><a href="#">Material Sourcing</a></li>
              <li><a href="#">Space Optimization</a></li>
              <li><a href="#">Space Optimization</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-12 -col-md-3 col-lg-3 col-xl-3">
          <div class="FooterLinks Contact_footer">
            <h1>Contact Info</h1>
            <ul>
              <li>
                <a href="#">
                  <svg class="icon phone-icon contact-icons ring-icon">
                    <use xlink:href="./img/icon/icons.svg#icon-map"></use>
                  </svg>

                  1234 Lorem Road, ISpum A Kennesaw, GA 1234</a
                >
              </li>
              <li>
                <a href="#">
                  <svg class="icon phone-icon contact-icons ring-icon">
                    <use xlink:href="./img/icon/icons.svg#icon-phone"></use>
                  </svg>
                  (777) 123-4567</a
                >
              </li>
              <li><a href="#">
				<svg class="icon phone-icon contact-icons ring-icon">
                    <use xlink:href="./img/icon/icons.svg#icon-phone"></use>
                  </svg>
				(777) 132-4567</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="FooterBottom container">
      <p>© 2023 company name here | All Rights Reserved</p>
    </div>
  </div>
</footer>
