<!-- =========================
	Section - Header
============================== -->

<header 
	<div class="Header">
		<div class="container">
		  <div class="HeaderContent">
			<div class="Logo">
			  <img src="../../img/logoOne.png" alt="Logo" />
		  
			</div>
			<ul>
			  <li>
				
				<a href="#about" class="active">
				  About us
				</a>
			  </li>
			  <li>
				
				<a href="#service">Our services</a>
			  </li>
			  <li>
				
				<a href="#contact">Contact us</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>
</header>