<!-- =========================
	Section - Main
============================== -->

@@if (context.page === "home") {
<main>
  <div class="Home">
    <div class="CoverImg">
      <img src="../../img/main-slider-1-1.jpg" alt="cover-img" />
      <div class="CoverDescription">
        <h1>Your Dream House</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting,
          industry industry's standard dummy text.
        </p>
        <a href="#contact"><button>Contact us</button></a>
      </div>
    </div>
    <div class="barner-section">
      <div class="container">
        <h1>Need our help?</h1>
        <button>Contact us!</button>
      </div>
    </div>
    <section class="about-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1><span>ABOUT</span> OUR COMPANY</h1>
            <h3>Curabitur congue egestas dapibus.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              libero consectetur, blandit mauris eget, imperdiet nisl. Etiam
              commodo ex nec erat tempor varius. Nunc rutrum pretium nunc in
              malesuada. Curabitur mollis urna ac sapien vulputate, ut congue
              sapien vehicula. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Nam et suscipit dui.
              Maecenas velit quam, mollis id erat eget, scelerisque elementum
              odio. Maecenas ac sagittis erat. Quisque hendrerit dapibus diam, a
              venenatis dui efficitur nec. Aenean tincidunt ullamcorper
              fermentum.
            </p>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="about-banner-box">
              <img src="../../img/aboutbanner.jpg" alt="about_banner" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="services-section" id="service">
      <div class="section_title">
        <h1><span>OUR </span>SERVICE</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="box">
              <div class="svg_box">
                <svg class="icon icon-aid-kit">
                  <use xlink:href="./img/icon/icons.svg#icon-aid-kit"></use>
                </svg>
              </div>
              <h3>Software Development</h3>

              <p>
                Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                leo.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="box">
              <div class="svg_box">
                <svg class="icon icon-aid-kit">
                  <use xlink:href="./img/icon/icons.svg#icon-stats-dots"></use>
                </svg>
              </div>
              <h3>Software Development</h3>
              <p>
                Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                leo.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="box">
              <div class="svg_box">
                <svg class="icon icon-aid-kit">
                  <use
                    xlink:href="./img/icon/icons.svg#icon-service-four"
                  ></use>
                </svg>
              </div>
              <h3>Software Development</h3>
              <p>
                Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                leo.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="box">
              <div class="svg_box">
                <svg class="icon icon-aid-kit">
                  <use xlink:href="./img/icon/icons.svg#icon-service-one"></use>
                </svg>
              </div>
              <h3>Software Development</h3>
              <p>
                Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                leo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact_us" id="contact">
      <div class="section_title">
        <h1>CONTACT US</h1>
        <div class="line"></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="contact_card">
              <div class="icon-box">
                <svg class="icon phone-icon contact-icons ring-icon">
                  <use xlink:href="./img/icon/icons.svg#icon-phone"></use>
                </svg>
              </div>
              <div class="text">
                <h3>Phone No</h3>
                <span>+33 987 654 321</span>
                <p>+33 987 654 321</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="contact_card">
              <div class="icon-box">
                <svg class="icon mail-icon contact-icons">
                  <use xlink:href="./img/icon/icons.svg#icon-mail"></use>
                </svg>
              </div>
              <div class="text">
                <h3>Email Address</h3>
                <span>builderrine@gmail.com</span>
                <p>care@builderrine.com</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="contact_card">
              <div class="icon-box">
                <svg class="icon phone-icon contact-icons ring-icon">
                  <use xlink:href="./img/icon/icons.svg#icon-map"></use>
                </svg>
              </div>
              <div class="text">
                <h3>Office Address</h3>
                <span>Gr. Benjamin Street 609 Florida, USA</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

	<a id="button">
		<svg style="width:25px; height:16px;transform: rotate(90deg); fill:#fff" class="icon icon-owl-icon">
			<use xlink:href="./img/icon/icons.svg#icon-owlprev"></use>
		</svg>
	</a>

  </div>
</main>
}
